<!DOCTYPE html>
<html>
<head>
    <title>ejercicio2</title>
    <link rel="stylesheet" href="/static/CSS/estilos.css">
</head>
<body class="form__body2">
    <form method="post" class="form__form2">
        <p class="form__p2">Nombre 1:</p>
        <input type="text" class="form__boton2" name="nombre1"><br>

        <p class="form__p2">Nombre 2:</p>
        <input type="text" class="form__boton2" name="nombre2"><br>

        <p class="form__p2">Nombre 3:</p>
        <input type="text" class="form__boton2" name="nombre3"><br>

        <input type="submit" class="form__submit3">

        <p class="form__P3">El nombre con mayor cantidad de caracteres es: {{ nombre }}</p>
        <p class="form__P4">El nombre tiene: {{ longitud }}</p>

         </form>
</body>
</html>